@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 55px;
  text-align: center;
}

body {
  height: 100vh;
}

#header {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
  margin: 0 auto;
  border-radius: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 50px;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 20rem;
}

.nav-item {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.nav-item:hover {
  background-color: rgb(178, 198, 215);
}

.nav-item:hover .nav-link {
  background-color: rgb(178, 198, 215);
  color: black;
}

/* -----------about------------ */
#about {
  /* padding: 1.5rem; */
  height:700px;
  color: #948f8f;
  margin: 50px;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  border-radius: 10rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 80%;
  border-radius: 15px;
  /* box-shadow: 3px 3px 10px 0px rgba(209, 198, 198, 0.5); */
  border: 0.1rem solid;
}

.about-col-2 {
  flex-basis: 60%;
}

/* -------------skills-------------- */

#skills {
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}



#skills .container{
    
    height: 1000px;
    background-color: whitesmoke;
    border-radius: 10rem;
    margin-left: 20px;
    margin-right: 20px;

  }

.skills-container{
  
}

.skills-items {
  
}